$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Raleway', sans-serif;
$blue-elements-primary: rgb(8, 166, 228);
$blue-elements-secondary: rgb(7, 172, 230);
$gray-elements: rgb(165, 165, 165);
$pink-elements: rgb(251, 59, 100);
$green-elements: rgb(85, 223, 180);
$color-background-benefits: rgb(247, 247, 247);
$gray-border: rgb(232, 233, 237);