.banner {
  background-image: url(assets/Background.png);
  height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;

  &__container {
    max-width: 85vw;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 8em;
  }

  &__title {
    font-family: $font-secondary;
    font-size: 2em;
    padding-bottom: 1.5em;
  }

  &__text {
    text-align: center;
    padding-bottom: 2em;
  }
}

@media screen and (min-width: 769px) {
  .banner {
    background-image: url(assets/Background@2x.png);
    height: 100vh;
    background-position: bottom;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 2000px) {
  .banner {
    background-image: url(assets/Background@2x.png);
    height: 70vh;
    background-position: bottom;
    background-repeat: no-repeat;
  }
}
