.primary_btn {
  background-color: $blue-elements-primary;
  border-radius: 3em;
  box-shadow: 5px 10px 14px rgba(7, 172, 230, 0.16);
  color: rgb(255, 255, 255);
  font-weight: 700;
  padding: 2em 6em;
  text-decoration: none;
  text-align: center;
  margin-top: 2em;
  width: 100%;
  transition: 0.5s;

  &:hover{
  background-color: rgb(6, 123, 169);
  }
}

@media screen and (min-width: 769px) {
  .banner {
    &__btn {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1025px) {
  .banner {
    &__btn {
      width: 35%;
    }
  }
}